<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img class="logo" src="/shop-logo.jpg" alt="">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {{#if isProducts}}
            <li><a href="products" class="nav-link px-2 text-decoration-underline">Products</a></li>
        {{else}}
            <li><a href="products" class="nav-link px-2">Products</a></li>
        {{/if}}

        {{#if isAdd}}
            <li><a href="add" class="nav-link px-2 text-decoration-underline">Add</a></li>
        {{else}}
            <li><a href="add" class="nav-link px-2">Add</a></li>
        {{/if}}
      </ul>

      <div class="col-md-3 text-end">
        {{#if isLogin}}
            <a class="text-decoration-none text-light" href="login"><button type="button" class="btn btn-primary active">Login</button></a>
        {{else}}
            <a class="text-decoration-none text-light" href="login"><button type="button" class="btn btn-primary">Login</button></a>
        {{/if}}

        {{#if isSignUp}}
            <a class="text-decoration-none text-light" href="sign-up"><button type="button" class="btn btn-success active">Sign-up</button></a>
        {{else}}
            <a class="text-decoration-none text-light" href="sign-up"><button type="button" class="btn btn-success">Sign-up</button></a>
        {{/if}}
      </div>
    </header>
  </div>