<div class="w-50 mx-auto">
    <form action="/sign-up" method="post">
      <h2 class="mb-3">Sign-up</h2>
        <div class="row mb-3">
          <div class="col">
            <input name="firstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input name="lastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
        </div>    

        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
        {{#if Signup}}
        <p class="error">{{Signup}}</p>
        {{/if}}
    </form>
</div>
